* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9EAFD;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
}

.title-web {
    margin-top: 6rem;
    font-size: 48px;
}

.title-web a {
    text-decoration: none;
    color: black;
    text-shadow: 3px 3px 8px rgb(102, 102, 102);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 1164px;
    height: auto;
    margin-top: 6rem;
}

.sort-btn {
    display: flex;
    background-color: #D9D9D9;
    width: 108px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.sort-btn:hover {
    background-color: #dddada;
}

.sort-btn span {
    font-size: 12px;
    font-weight: bold;
}

.sort-icon {
    width: 18px;
    height: 18px;
}

.sort-dropdown {
    display: none;
    position: absolute;
    background-color: #BCCCDC;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 13.3rem;
    border-radius: 3px;
}

.show {
    display: block;
}

.sort-dropdown button {
    display: block;
    border: none;
    width: 160px;
    text-align: start;
    font-size: 14px;
    background-color: #BCCCDC;
    color: black;
    padding: 12px 16px;
}

.sort-dropdown button:hover {
    background-color: #a0aebd;
    color: white;
}

.card-books {
    width: 1164px;
    height: 418px;
    background-color: #BCCCDC;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 45px;
}

.img-books {
    width: 205px;
    height: 301px;
    margin-right: 22px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.25);
}

.image-book {
    width: 184px;
    height: 274px;
}

.description-books {
    width: 865px;
    height: 301px;
    background-color: rgba(248, 250, 252, 0.33);
    border-radius: 24px;
    border: 1px solid black;
    padding: 30px;
}

.title-book a{
    font-size: 32px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.title-book a:hover {
    color: rgb(82, 82, 82);
}

hr {
    margin-top: 10px;
}

.summary-book {
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
    height: 100px;
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer-book {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 16.3rem;
    left: 49.3rem;
}

.book-posted {
    position: relative;
    color: rgba(0,0,0,0.5);
    font-size: 14px;
    right: 122px;
}

.author {
    position: relative;
    background-color: #F8FAFC;
    padding: 12px;
    border: 1px solid black;
    width: 145px;
    font-size: 14px;
    text-align: center;
    border-radius: 31px 0px 24px 0px;
    left: 25.52rem;
}

.add-books {
    width: 69px;
    height: 69px;
    font-size: 2.5rem;
    border: none;
    border-radius: 50%;
    position: fixed;
    right: 100px;
    bottom: 70px;
    background-color: #BCCCDC;
    cursor: pointer;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.2);
}

.add-books:hover {
    background-color: #8a98a5b9;
    transform: translateY(3px);
}

.container-newBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-newBook h1 {
    font-size: 48px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.wrapper-newBook {
    display: flex;
    flex-direction: column;
    width: 587px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-bottom: 30px;
}

.input-icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 66px;
    right: 9.5rem;
    width: 76px;
    height: 76px;
    background-color: #F8FAFC;
    border: 1px solid black;
    border-radius: 50%;
}

.input-icon > img {
    width: 27px;
    height: 32px;
}

.input-text {
    width: 331px;
    height: 52px;
    border: 1px solid black;
    border-radius: 66px;
    padding-left: 40px;
    margin-left: 50px;
}

.textarea-summary {
    width: 331px;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 40px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 2rem;
}

.adding-book {
    width: 109px;
    height: 30px;
    border-radius: 16px;
    background-color: #BCCCDC;
    border: 1px solid #CBCBCB;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1.4rem;
}

.adding-book:hover {
    background-color: rgb(147, 160, 172);
}

.container-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    height: auto;
}

.information-book {
   width: 1147px;
   height: auto;
   margin-top: 7rem;
}

.desc-book {
    display: flex;
    width: 1139px;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.desc-book img {
    width: 174px;
    height: 252px;
}

.detail {
    display: flex;
    width: 914px;
    height: 252px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.detail > h1 {
    font-size: 38px;
    font-weight: bold;
}

.detail > p {
    margin-top: 10px;
    font-size: 15px;
    font-style: italic;
}

.footer-information {
    display: flex;
    width: 914px;
    height: 20rem;
    align-items: end;
    justify-content: space-between;
}

.footer-information > p {
    font-size: 15px;
    font-style: normal;
}

.footer-information > p > img {
    
    width: 20px;
    height: 20px;
   
}

.summary-infobook {
    margin-top: 38px;
    font-size: 16px;
    text-align: justify;
    line-height: 158.4%;
}

.my-notes {
    width:  1147px;
    height: auto;
    margin-top: 51px;
}

.input-notes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.input-notefields {
    width: 1147px;
    height: 60px;
    padding: 20px;
    border: none;
    border-radius: 7px;
}

.input-notefields:focus {
    outline: none !important;
}

.add-notes {
    position: relative;
    right: 80px;
    width: 86px;
    height: 60px;
    background-color: #60C647;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    font-size: 36px;
    cursor: pointer;
}

.contains-notes {
    margin-top: 31px;
}

.contains-notes > ul > li {
    font-size: 16px;
    text-align: justify;
    line-height: 158.4%;
    margin-bottom: 30px;
    margin-left: 20px;
}

.go-back {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.go-back img {
    position: fixed;
    left: 60px;
    top: 40px;
    width: 46px;
    height: 38px;
}

.go-back img:hover {
    transform: translateY(2px)
}